<%- include('../partials/header') %>


    <h3>Important Developer Skills</h3>
    <a href="/skills/new">Add Skill</a>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                

                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
                
                    -
                    <%= s.acquired ? 'acquired' : 'not acquired' %>
            </li>
            <% }); %>
    </ul>

<%- include('../partials/footer') %>