<%- include('../partials/header') %>


    <h3>Important Developer Skills</h3>
    <a href="/skills/new">Add Skill</a>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>

                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
                <%= s.skill %>
                    -
                    <%= s.acquired ? 'acquired' : 'not acquired' %>
            </li>
            <% }); %>
    </ul>

<%- include('../partials/footer') %>