<%- include('../partials/header') %>


    <h3>Important Developer Skills</h3>
    <a href="/skills/new">Add Skill</a>
    <ul>
        
            <li>
                <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>

                <a href="/skills/<%= skill.id %>">
                    <%= skill.skill %>
                </a>
                <%= skill.skill %>
                    -
                    <%= skill.acquired ? 'acquired' : 'not acquired' %>
            </li>
           
    </ul>

<%- include('../partials/footer') %>